@model BookLibrary.Server.ViewModels.StatisticsViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-chart-bar"></i> Library Statistics</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Basic Counts -->
                        <div class="col-md-4">
                            <h5>Counts</h5>
                            <p>Books: @Model.BooksCount</p>
                            <p>Authors: @Model.AuthorsCount</p>
                            <p>Genres: @Model.GenresCount</p>
                        </div>

                        <!-- Book Word Counts -->
                        <div class="col-md-4">
                            <h5>Book Word Counts</h5>
                            <p>Min: @Model.MinBookWords</p>
                            <p>Median: @Model.MedianBookWords</p>
                            <p>Max: @Model.MaxBookWords</p>
                        </div>

                        <!-- Book Prices -->
                        <div class="col-md-4">
                            <h5>Book Prices</h5>
                            <p>Min: @Model.MinBookPrice</p>
                            <p>Median: @Model.MedianBookPrice</p>
                            <p>Max: @Model.MaxBookPrice</p>
                        </div>
                    </div>

                    <!-- Authors and their Books Count -->
                    <div class="mt-4">
                        <h5>Books per Author</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Author</th>
                                <th>Books Count</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.AuthorsBooksCount)
                            {
                                <tr>
                                    <td>@item.Key.FirstName @item.Key.LastName</td>
                                    <td>@item.Value</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- Authors and their Books Count -->
                    <div class="mt-4">
                        <h5>Books per Genre</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Genre</th>
                                    <th>Books Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GenresBooksCount)
                                {
                                    <tr>
                                        <td>@item.Key.Name</td>
                                        <td>@item.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>