@model BookLibrary.Server.ViewModels.DetailsBookViewModel
@{
    ViewData["Title"] = "Book Details";
}

<div class="book-cover">
    <h1 class="book-title">@Model.Name</h1>
    <h2 class="book-authors">@string.Join(", ", Model.Authors)</h2>
    <h3 class="book-genres">@string.Join(", ", Model.Genres)</h3>
</div>

<div class="card-body">
    <h2 class="text-center mt-1">Book details</h2>
    <div class="book-content">
        @Html.Raw(Model.Description)
    </div>
</div>

<div class="book-page-container">
@for (int i = 0; i < Model.Pages.Count; i++)
{
    <h2 class="text-center mt-3">Page @(i+1)</h2>
    <div class="book-page mb-3">
        @Html.Raw(Model.Pages[i])
    </div>
}
</div>

<style>
    .book-cover {
        background-color: #f4f4f4;
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .book-title {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .book-authors {
        font-size: 1.5em;
        color: #666;
        margin-bottom: 10px;
    }

    .book-genres {
        font-size: 1.2em;
        color: #999;
    }

     .book-content {
        font-size: 1em;
        line-height: 1.6;
        word-wrap: break-word;
     }
     
     .book-page {
        font-size: 1em;
        line-height: 1.6;
        word-wrap: break-word;
        text-align: left;
        min-height: 100px;
        background-color: #f4f4f4;
        padding: 20px;
     }
     
     .book-page-container {
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
        margin-bottom: 20px;
     }
</style>